{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
      {{> post-info post}}
    {{/each}}
  </ol>
</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/dashboard/add">Add a New Post</a></button>

<script src="/js/add-post.js"></script>