{{> post-info post}}

{{#if loggedIn}}
<div class="card">
    <h3 class="card-header">Add a Comment</h3>
    <form class="card-body comment-form" id="comment-form">
        <input name="add-commment" class="form-input" />
        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{{/if}}

<div class="card">
    <h3 class="card-header">Comment(s)</h3>
    {{> comments post.comments}}
</div>


{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}